In [2]:
import glob, os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
asistencia_df = pd.read_csv('data/senado_asistencia.csv', index_col=0)
trabajo_df = pd.read_csv('data/senado_trabajo.csv', index_col=0)

tipo_tareas_df = trabajo_df[['tipo']].drop_duplicates()

# Cálculo de asistencias
asistencia_df.loc[:,'asistencia_comision'] = asistencia_df.apply(lambda x : x['citacion_comision'] - x['falta_con_aviso_comision'] - x['falta_sin_aviso_comision'] - x['licencia_comision'], axis=1)
asistencia_df.loc[:,'citaciones'] = asistencia_df.apply(lambda x : x['citado_camara'] + x['citacion_comision'] , axis=1)
asistencia_df.loc[:,'asistencia'] = asistencia_df.apply(lambda x : x['asistencia_camara'] + x['asistencia_comision'], axis=1)
asistencia_df.loc[:,'con_licencia'] = asistencia_df.apply(lambda x : x['con_licencia_camara'] + x['licencia_comision'], axis=1)
asistencia_df.loc[:,'faltas_sin_aviso'] = asistencia_df.apply(lambda x : x['faltas_sin_aviso_camara'] + x['falta_sin_aviso_comision'], axis=1)
asistencia_df.loc[:,'asistencia_nota'] = asistencia_df.apply(lambda x : x['asistencia'] * 1.0 / (x['citaciones'] - x['con_licencia']) * 100 , axis=1)
asistencia_df.loc[:,'faltas_sin_aviso_nota'] = asistencia_df.apply(lambda x : 100 - (x['faltas_sin_aviso'] / (x['citaciones'] - x['con_licencia']) * 100), axis=1)

# Cálculo de cantidad de tareas realizadas
senadores_trabajo_df = trabajo_df[['id_senador', 'id_ficha']].groupby(['id_senador']).count().reset_index(level=0)
senadores_trabajo_df = senadores_trabajo_df.merge(trabajo_df[['id_senador', 'nombre']].drop_duplicates(subset=['id_senador']).reset_index(drop=True), on=['id_senador'], how='left')
senadores_trabajo_df = senadores_trabajo_df.rename({'id_ficha': 'cant_tareas'}, axis=1)

# Cantidad de pedidos de informe
senadores_por_tipo_df = trabajo_df[trabajo_df['tipo'] == 'PEDIDO DE INFORME'][['id_senador', 'id_ficha']].groupby(['id_senador']).count().reset_index(level=0)
senadores_trabajo_df = senadores_trabajo_df.merge(senadores_por_tipo_df[['id_senador', 'id_ficha']].drop_duplicates(subset=['id_senador']).reset_index(drop=True), on=['id_senador'], how='left')
senadores_trabajo_df = senadores_trabajo_df.rename({'id_ficha': 'cant_pedido_informe'}, axis=1)

# Cantidad de otro tipo de trabajos (RESOLUCIONES, HOMENAJES, etc)
senadores_por_tipo_df = trabajo_df[(trabajo_df['tipo'] != 'PEDIDO_INFORME') & (trabajo_df['tipo'] != 'LEY') & (trabajo_df['tipo'] != 'PROYECTO DE LEY')][['id_senador', 'id_ficha']].groupby(['id_senador']).count().reset_index(level=0)
senadores_trabajo_df = senadores_trabajo_df.merge(senadores_por_tipo_df[['id_senador', 'id_ficha']].drop_duplicates(subset=['id_senador']).reset_index(drop=True), on=['id_senador'], how='left')
senadores_trabajo_df = senadores_trabajo_df.rename({'id_ficha': 'cant_otros_tipos'}, axis=1)

# Cantidad de leyes y proyectos de leyes presentados
senadores_por_tipo_df = trabajo_df[(trabajo_df['tipo'] == 'LEY') | (trabajo_df['tipo'] == 'PROYECTO DE LEY')][['id_senador', 'id_ficha']].groupby(['id_senador']).count().reset_index(level=0)
senadores_trabajo_df = senadores_trabajo_df.merge(senadores_por_tipo_df[['id_senador', 'id_ficha']].drop_duplicates(subset=['id_senador']).reset_index(drop=True), on=['id_senador'], how='left')
senadores_trabajo_df = senadores_trabajo_df.rename({'id_ficha': 'cant_leyes'}, axis=1)

# Cantidad de leyes y proyecto de leyes aprobados (promulgados por el ejecutivo)
senadores_por_tipo_df = trabajo_df[(trabajo_df['estado'] == 'PROMULGA')][['id_senador', 'id_ficha']].groupby(['id_senador']).count().reset_index(level=0)
senadores_trabajo_df = senadores_trabajo_df.merge(senadores_por_tipo_df[['id_senador', 'id_ficha']].drop_duplicates(subset=['id_senador']).reset_index(drop=True), on=['id_senador'], how='left')
senadores_trabajo_df = senadores_trabajo_df.rename({'id_ficha': 'cant_leyes_aprobado'}, axis=1)

senadores_df = asistencia_df.merge(senadores_trabajo_df.drop(columns=['nombre']).reset_index(drop=True), on=['id_senador'], how='left')

# Cálculo de la nota en tareas presentadas
max_data = senadores_df[['cant_tareas']].max()[0]
senadores_df.loc[:,'cant_tareas_nota'] = senadores_df['cant_tareas'] / max_data * 100.0

# Cálculo de la nota en pedidos de informe
max_data = senadores_df[['cant_pedido_informe']].max()[0]
senadores_df.loc[:,'cant_pedido_informe_nota'] = senadores_df['cant_pedido_informe'] / max_data * 100.0

# Cálculo de la nota en otro tipo de documentos
max_data = senadores_df[['cant_otros_tipos']].max()[0]
senadores_df.loc[:,'cant_otros_tipos_nota'] = senadores_df['cant_otros_tipos'] / max_data * 100.0

# Cálculo de la nota en leyes presentadas
max_data = senadores_df[['cant_leyes']].max()[0]
senadores_df.loc[:,'cant_leyes_nota'] = senadores_df['cant_leyes'] / max_data * 100.0

# Cálculo de la nota en tareas presentadas y aprobadas 
max_data = senadores_df[['cant_leyes_aprobado']].max()[0]
senadores_df.loc[:,'cant_leyes_aprobado_nota'] = senadores_df['cant_leyes_aprobado'] / max_data * 100.0

# Cálculo de nota general
w_asistencia_nota=1.0
w_faltas_sin_aviso_nota=1.0
w_cant_tareas_nota=1.0
w_cant_pedido_informe_nota=1.0
w_cant_otros_tipos_nota=1.0
w_cant_leyes_nota=1.0
w_cant_leyes_aprobado_nota=1.0

senadores_df = senadores_df.apply(lambda x : x.fillna('') if x.name == 'email' else x.fillna(0))
senadores_df.loc[:,'nota_general'] = (senadores_df['asistencia_nota'] * w_asistencia_nota + \
    senadores_df['faltas_sin_aviso_nota']  * w_faltas_sin_aviso_nota + \
    senadores_df['cant_tareas_nota'] * w_cant_tareas_nota + \
    senadores_df['cant_pedido_informe_nota'] * w_cant_pedido_informe_nota + \
    senadores_df['cant_otros_tipos_nota'] * w_cant_otros_tipos_nota + \
    senadores_df['cant_leyes_nota'] * w_cant_leyes_nota + \
    senadores_df['cant_leyes_aprobado_nota'] * w_cant_leyes_aprobado_nota) / 7

del asistencia_df, trabajo_df, senadores_por_tipo_df, senadores_trabajo_df
senadores_df.head()

,id_senador,nombre,lema,email,citado_camara,asistencia_camara,falta_con_aviso_camara,faltas_sin_aviso_camara,con_licencia_camara,pasaje_presidencia_camara,citacion_comision,falta_con_aviso_comision,falta_sin_aviso_comision,licencia_comision,otras_comisiones_comision,asistencia_comision,citaciones,asistencia,con_licencia,faltas_sin_aviso,asistencia_nota,faltas_sin_aviso_nota,cant_tareas,cant_pedido_informe,cant_otros_tipos,cant_leyes,cant_leyes_aprobado,cant_tareas_nota,cant_pedido_informe_nota,cant_otros_tipos_nota,cant_leyes_nota,cant_leyes_aprobado_nota,nota_general
0,5146,"Agazzi, Ernesto",0,eagazzi@parlamento.gub.uy,108,98,0,0,10,0,131.0,8.0,0.0,0.0,1.0,123.0,239.0,221.0,10.0,0.0,96.506550,100.0,264.0,1.0,88.0,176.0,78.0,52.173913,2.127660,45.833333,40.182648,32.5,52.760586
1,2743,"Alcorta, Ricardo",PARTIDO FRENTE AMPLIO,,24,24,0,0,0,0,53.0,5.0,0.0,0.0,1.0,48.0,77.0,72.0,0.0,0.0,93.506494,100.0,3.0,0.0,3.0,0.0,0.0,0.592885,0.000000,1.562500,0.000000,0.0,27.951697
2,8883,"Almagro Lemes, Luis Leonardo",0,secretaria.ministro@mrree.gub.uy,13,4,0,0,9,0,12.0,7.0,0.0,0.0,0.0,5.0,25.0,9.0,9.0,0.0,56.250000,100.0,1.0,0.0,1.0,0.0,0.0,0.197628,0.000000,0.520833,0.000000,0.0,22.424066
3,9891,"Alonso, Verónica",PARTIDO NACIONAL,valonso@parlamento.gub.uy,225,133,21,0,71,0,350.0,130.0,0.0,1.0,0.0,219.0,575.0,352.0,72.0,0.0,69.980119,100.0,183.0,30.0,108.0,75.0,48.0,36.166008,63.829787,56.250000,17.123288,20.0,51.907029
4,11535,"Álvarez López, María Dolores",PARTIDO NACIONAL,nolivera@parlamento.gub.uy,6,5,1,0,0,0,19.0,0.0,10.0,0.0,0.0,9.0,25.0,14.0,0.0,10.0,56.000000,60.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,16.571429

### Lista de notas más bajas en asistencia a cámara y comisiones (100 = sin faltas)

In [5]:
senadores_df[['nombre', 'asistencia', 'asistencia_nota']][senadores_df['asistencia_nota'] > 0].sort_values(['asistencia_nota'], ascending=True).head(n=10)

                              nombre  asistencia  asistencia_nota
70                  Montaner, Martha        54.0        54.000000
26              Cardoso, José Carlos       198.0        55.462185
4       Álvarez López, María Dolores        14.0        56.000000
2       Almagro Lemes, Luis Leonardo         9.0        56.250000
82            Peña Fernández, Daniel       110.0        65.476190
65  Martínez Villamil, Daniel Carlos         4.0        66.666667
40                 Falero, José Luis         2.0        66.666667
3                   Alonso, Verónica       352.0        69.980119
75  Olano Rodríguez, Celina Walkiria        14.0        70.000000
53            Iturralde Viñas, Pablo       139.0        72.395833

### Lista de tipos de tareas parlamentarias que se consideran

In [6]:
tipo_tareas_df

                                    tipo
0                      PEDIDO DE INFORME
828                      PROYECTO DE LEY
874                           RESOLUCION
885                                  LEY
913               MINUTA DE COMUNICACION
1136             PROYECTO DE DECLARACION
1538            PROYECTO DE RESOLUCION
2180              PROYECTO DE RESOLUCION
2297                         DECLARACION
2313                        RESOLUCION
2466  PROYECTO DE MINUTA DE COMUNICACION

### Lista de notas más bajas en faltas sin aviso a cámara y comisiones (100 = sin faltas sin aviso)

In [7]:
senadores_df[['nombre', 'faltas_sin_aviso', 'faltas_sin_aviso_nota']][senadores_df['faltas_sin_aviso_nota'] > 0].sort_values(['faltas_sin_aviso_nota'], ascending=True).head(n=10)

,nombre,faltas_sin_aviso,faltas_sin_aviso_nota
4,"Álvarez López, María Dolores",10.0,60.000000
51,"Iglesias Rodríguez, Alberto Walter",1.0,88.888889
57,"Lamorte, Aldo",1.0,93.333333
73,"Mujica, Gonzalo",10.0,93.975904
37,"Eguiluz, Cecilia",11.0,94.761905
66,"Matiaude, Graciela",8.0,95.811518
86,"Piñeyrúa Olmos, Ana Lía",1.0,97.560976
25,"Carballo Da Costa, Felipe",3.0,98.734177
29,"Castaingdebat, Armando",2.0,98.843931
53,"Iturralde Viñas, Pablo",2.0,98.958333

### Lista de notas en tareas realizadas (100 = máximo de tareas realizadas)
##### Tareas = pedido de informe, leyes presentadas, resoluciones presentadas, etc

In [8]:
senadores_df[['nombre', 'cant_tareas', 'cant_tareas_nota']][senadores_df['cant_tareas_nota'] > 0].sort_values(['cant_tareas_nota'], ascending=True).head(n=10)

                              nombre  cant_tareas  cant_tareas_nota
2       Almagro Lemes, Luis Leonardo          1.0          0.197628
31                Cersósimo, Gustavo          1.0          0.197628
41         Fernández Farias, Eduardo          3.0          0.592885
1                   Alcorta, Ricardo          3.0          0.592885
63   Lústemberg Haro, María Cristina          5.0          0.988142
91                    Ramos, Conrado          5.0          0.988142
75  Olano Rodríguez, Celina Walkiria          6.0          1.185771
71                   Moreira, Carlos          7.0          1.383399
84            Pesce Olivera, Viviana          9.0          1.778656
22                    Botana, Sergio          9.0          1.778656

### Lista de notas generales (100 = máximo nota)

In [9]:
senadores_df[['nombre', 'nota_general']][senadores_df['nota_general'] > 0].sort_values(['nota_general'], ascending=True).head(n=20)

                                 nombre  nota_general
95                         Sendic, Raúl      2.052748
4          Álvarez López, María Dolores     16.571429
2          Almagro Lemes, Luis Leonardo     22.424066
40                    Falero, José Luis     23.809524
65     Martínez Villamil, Daniel Carlos     23.809524
51   Iglesias Rodríguez, Alberto Walter     25.396825
6                          Amy, José A.     26.190476
71                      Moreira, Carlos     26.219590
75     Olano Rodríguez, Celina Walkiria     26.725247
76                      Olesker, Daniel     26.785714
86              Piñeyrúa Olmos, Ana Lía     27.393837
8                      Argimón, Beatriz     27.428571
73                      Mujica, Gonzalo     27.522211
1                      Alcorta, Ricardo     27.951697
63      Lústemberg Haro, María Cristina     28.373600
16                    Beramendi, Carmen     28.448949
22                       Botana, Sergio     28.495024
36           Draper Praderio, Alejandro     28.571429
102                    Vellozas, Helena     28.571429
7         Antía Behrens, María Mercedes     28.571429